<div class="background tw-w-screen tw-h-screen tw-flex tw-justify-center tw-items-center">
  <div class="tw-flex tw-flex-col">
    <div class="login tw-shadow-lg tw-flex tw-flex-col rounded">
      <img src="assets/images/logo.png" alt="logo" width="70%" ref="" />

      <form #myForm="ngForm">
        <div class="tw-flex tw-flex-row tw-gap-8">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="email" class="form-control" id="autoSizingInputGroup" placeholder="example@gmail.com" />
          </div>
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password1"
            placeholder="*********" ngModel required />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Password Confirmation</label>
          <input type="password" class="form-control" id="exampleInputPassword2" name="password2"
            placeholder="*********" ngModel required />
          <div class="tw-flex tw-flex-col"
            *ngIf="myForm.controls['password2'].touched && myForm.controls['password2'].invalid">
            <label class="errorMessage" *ngIf="myForm.controls['password2'].errors?.['required']">Password confirmation
              is required</label>
            <label class="errorMessage"
              *ngIf="myForm.controls['password2'].value !== myForm.controls['password1'].value">Passwords do not
              match</label>
          </div>
        </div>

        <div class="tw-flex tw-justify-end">
          <button type="button" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
    <div class="tw-flex tw-justify-center tw-italic">© copyright MTSTDS</div>
  </div>
</div>