<div class="tw-gap-15">
    <app-header [title]="headerTitle"></app-header>
  
    <div class="content tw-mt-10 tw-p-8">
      <div class="sub-content tw-flex tw-flex-col tw-gap-5">
        <div class="actions">
          <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." />
        </div>
        <div class="wrapper-table">
          <table class="table">
            <thead>
              <tr>
                <th>ID Order </th>
                <th>Origin Lockers </th>
                <th class="text-center">Pick Up Order</th>
                <th>Destination Locker</th>
                <th>Destination Station</th>
                <th>Order Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let toTransp of toTransport | filterTableTransporterPipe:searchTerm" >
                <td>{{ toTransp.id }}</td>
                <td>{{ toTransp.originLockerId }}</td>
                <td class="text-center" (click)="onPickClick(toTransp.id)">
                  <button type="button" class="btn btn-success d-flex justify-content-center align-items-center btn-md w-100">
                    {{ pickedUp ? 'Picked Up' : 'Pick Order' }}
                  </button>
                </td>
                <td>{{ toTransp.destinationLockerId }}</td>                
                <td>{{ toTransp.stationName }}</td>
                <td>{{ toTransp.status }}</td>               
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th>ID Order </th>
                <th>Origin Lockers </th>
                <th class="text-center">Deposit Order</th>
                <th>Destination Locker</th>
                <th>Destination Station</th>
                <th>Order Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inTransp of inTransport | filterTableTransporterPipe:searchTerm" >
                <td>{{ inTransp.id }}</td>
                <td>{{ inTransp.originLockerId }}</td>
                <td class="text-center" (click)="onDepositClick(inTransp.id)">
                  <button type="button" class="btn btn-success d-flex justify-content-center align-items-center btn-md w-100">
                    {{ deposited ? 'Deposited' : 'Deposit' }}
                  </button>
                </td>               
                <td>{{ inTransp.destinationLockerId }}</td>                          
                <td>{{ inTransp.stationName }}</td>
                <td>{{ inTransp.status }}</td>               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
