<div class="tw-gap-15">

    <app-header [title]="headerTitle"></app-header>

    <div class="content tw-mt-10 tw-p-8">

        <div class="sub-content">
            <div class="col1 tw-flex tw-flex-col tw-gap-8">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Destinatário</label>
                    <div class="input-group">
                        <div class="input-group-text">@</div>
                        <input [ngClass]="{'redBorder': isEmailEmpty}" type="email" class="form-control"
                            id="autoSizingInputGroup" placeholder="example@gmail.com" [(ngModel)]="receiverEmail" />
                    </div>
                    <label class="errorMessage" *ngIf="isEmailEmpty">Por favor escolha um e-mail</label>
                </div>

                <div class="tw-flex tw-flex-col tw-gap-3">
                    <label>
                        Tamanho Cacifo
                    </label>
                    <div class="radioGroup tw-p-3 tw-gap-3 tw-flex tw-flex-col">
                        <div class="form-check tw-py-1">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                [(ngModel)]="lockerSize" value="S" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Pequeno 2€
                            </label>
                        </div>
                        <div class="form-check tw-py-1">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                [(ngModel)]="lockerSize" value="M">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Médio 4€
                            </label>
                        </div>
                        <div class="form-check tw-py-1">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                                [(ngModel)]="lockerSize" value="L">
                            <label class="form-check-label" for="flexRadioDefault3">
                                Grande 8€
                            </label>
                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="firstName" class="form-label">Número de dias</label>
                    <input type="number" class="form-control" id="numberOfDays" [ngClass]="{'redBorder': isDaysInvalid}"
                        [(ngModel)]="numberOfDays" pattern="[0-9]+" min="0">
                    <label class="errorMessage" *ngIf="isDaysInvalid">O número de dias não pode ser inferior
                        a
                        1</label>
                </div>
            </div>

            <div class="col2 tw-flex tw-flex-col tw-gap-8">
                <div class="lists tw-flex tw-flex-row ">

                    <div class="list1 tw-flex tw-flex-col tw-gap-4">
                        <label class="listTitle">Estação Origem</label>

                        <div class="form-group-list1">
                            <input type="text" class="search" placeholder="Search..." [(ngModel)]="searchTermList1">
                        </div>

                        <ul class="list-group">
                            <li *ngFor="let item of items | filter:searchTermList1"
                                class="list-group-item d-flex justify-content-between align-items-center tw-gap-3"
                                [class.active]="item.selectedOrigin" (click)="selectItemOrigin(item)">

                                <div class="listItem tw-flex tw-justify-between tw-w-full tw-py-1">
                                    <label>{{ item.name }}</label>
                                    <label class="lockersNumber">{{ item.freeLockers
                                        }}</label>
                                </div>

                                <!-- Não ficou lá muito bem -->
                                <!-- <svg *ngIf="item.selectedOrigin" xmlns="
                                            http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" class="icon">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg> -->
                            </li>
                            <label class="errorMessage" *ngIf="isOriginStationNotSelected">Por favor selecione uma
                                estação</label>
                        </ul>

                    </div>

                    <!-- -------------------------------------------- -->
                    <div class="list2 tw-flex tw-flex-col tw-gap-4">
                        <label class="listTitle">Estação Destino</label>

                        <div class="form-group-list2">
                            <input type="text" class="search" placeholder="Search..." [(ngModel)]="searchTermList2">
                        </div>

                        <ul class="list-group">
                            <li *ngFor="let item of items | filter:searchTermList2"
                                class="list-group-item d-flex justify-content-between align-items-center"
                                [class.active]="item.selectDestination" (click)="selectItemDestination(item)">

                                <div class="listItem tw-flex tw-justify-between tw-w-full tw-py-1">
                                    <label>{{ item.name }}</label>
                                    <label class="lockersNumber">{{ item.freeLockers
                                        }}</label>
                                </div>
                            </li>
                            <label class="errorMessage" *ngIf="isDestinationStationNotSelected">Por favor selecione uma
                                estação</label>
                        </ul>
                    </div>
                </div>

                <div class="tw-flex tw-gap-3 tw-justify-center tw-items-center">
                    <label class="priceLabel">Valor a pagar:</label>
                    <label class="priceLabel price">{{price| currency: 'EUR': true: '1.2-2'}}</label>
                    <label class="taxLabel">Iva Incluído</label>
                </div>
            </div>
        </div>

        <div class="buttons tw-w-full tw-flex tw-justify-between tw-mt-5">
            <button type="button" class="btn btn-danger">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmOrder()">Confirmar</button>
        </div>
    </div>
</div>