svg {
  width: 20px;
  margin-right: 8px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px lightgray;
  gap: 100px;
  overflow-x: auto;
  height: 75vh;
}

table {
  border: solid 1px lightgray;
}

.wrapper-table {
  display: flex;
  overflow-x: auto;
}

.sub-content {
  width: 80%;
  height: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.btn {
  font-size: 12px;
}