<app-header [title]="headerTitle"></app-header>


<div class="content tw-mt-10 tw-p-8">
  <div class="tw-flex tw-flex-col">
    <div class="register  tw-flex tw-flex-col rounded">

      <form #myForm="ngForm">
        <div class="tw-flex tw-flex-row tw-gap-8">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName" required />
            <div *ngIf="myForm.controls['firstName']?.touched && myForm.controls['firstName'].invalid">
              <label class="errorMessage" *ngIf="myForm.controls['firstName'].errors?.['required']">First name is
                required</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" required />
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
          </div>
          <div *ngIf="myForm.controls['email']?.touched && myForm.controls['email'].invalid">
            <label class="errorMessage" *ngIf="myForm.controls['email'].errors?.['required']">Email is
              required</label>
            <label class="errorMessage" *ngIf="myForm.controls['email'].errors?.['email']">Email is invalid</label>
            <label class="errorMessage" *ngIf="myForm.controls['email'].errors?.['pattern']">Please enter a valid email
              address.</label>
          </div>
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required />
          <div *ngIf="myForm.controls['username']?.touched && myForm.controls['username'].invalid">
            <label class="errorMessage" *ngIf="myForm.controls['username'].errors?.['required']">Username is
              required</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password1" [(ngModel)]="password"
            required minlength="6" />
          <div *ngIf="myForm.controls['password1']?.touched && myForm.controls['password1'].invalid">
            <label class="errorMessage" *ngIf="myForm.controls['password1'].errors?.['required']">Password is
              required</label>
            <label class="errorMessage" *ngIf=" myForm.controls['password1'].errors?.['minlength']">
              Password must be at least 6 characters long.
            </label>
          </div>
        </div>
        <label for="userType" class="form-label">Role</label>
        <select class="form-select" id="userType" name="userType" [(ngModel)]="role" required>
          <option value="">Select Role</option>
          <option value="CLIENT">CLIENT</option>
          <option value="TRANSPORTER">TRANSPORTER</option>
          <option value="EMPLOYEE">EMPLOYEE</option>
          <option value="ADMIN">ADMIN</option>
        </select>
        <div class="mb-3">
          <label class="errorMessage" *ngIf="failedToRegister">{{pd.detail}}</label>
        </div>

        <div class="tw-flex tw-my-6 tw-justify-between">
          <button type="button" class="btn btn-primary" (click)="createUser()" [disabled]="!myForm.valid">Create
            User</button>
        </div>
      </form>
    </div>
  </div>
</div>