<div class="tw-gap-15">

    <app-header [title]="headerTitle"></app-header>

    <div class="content tw-mt-10 tw-p-8">

        <div class="sub-content">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Pais</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Código Postal</th>
                        <th scope="col">Código Endereço</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr> -->
                </tbody>
            </table>
        </div>

        <div class="buttons tw-w-full tw-flex tw-justify-between tw-mt-5">
            <button type="button" class="btn btn-danger">Cancelar</button>
            <button type="button" class="btn btn-primary">Confirmar</button>
        </div>
    </div>
</div>